<div class="app">
  <main class="auth-container">
    <h1>Вход</h1>
    {{> Input id="login" type="text" placeholder="Логин"}}
    {{> Input id="password" type="password" placeholder="Пароль"}}
    {{> Button id="auth-button" text="Войти"}}
    {{> Button id="sign-in-button" text="Нет акаунта?"}}
  </main>
</div>
