<div class="app">
  <div class="auth-container">
    <header>
      <h1>Вход</h1>
    </header>
    <main>
      {{> Input id="login" type="text" placeholder="Логин"}}
      {{> Input id="password" type="password" placeholder="Пароль"}}
    </main>
    <footer>
      {{> Button id="auth-button" text="Войти"}}
      {{> Button id="sign-in-button" text="Нет акаунта?"}}
    </footer>
  </div>
</div>
