<div class="app">
  <div class="profile-container">
    <header >
    <div class="contact-avatar"></div>
    </header>
    <main>
      {{> Input id="oldPassword" type="password" placeholder="Старый пароль"}}
      {{> Input id="newPassword" type="password" placeholder="Новый пароль"}}
  </main>
  <footer class="profile-footer">
    {{> Button id="save-password" text="Сохранить"}}
  </footer>
  </div>
</div>
