<div class="app">
  <div class="profile-container">
    <main>
      <a href="">Выбрать фото на компьютере</a>
    </main>
    <footer>
      {{> Button id="save-avatar" text="Поменять"}}
    </footer>
  </div>
</div>
