<div class="app">
  <div class="profile-container">
    <header>
    <div class="contact-avatar"></div>
    <h2>Имя</h2>
    </header>
    <main>
      {{> FieldEditProfile fieldName="Почта" fieldValue=email name="email"}}
      {{> FieldEditProfile fieldName="Логин" fieldValue=login name="login"}}
      {{> FieldEditProfile fieldName="Имя" fieldValue=first_name name="first_name"}}
      {{> FieldEditProfile fieldName="Фамилия" fieldValue=second_name name="second_name"}}
      {{> FieldEditProfile fieldName="Телефон" fieldValue=phone name="phone"}}
  </main>
  <footer>
    {{> Button id="save-profile" text="Сохранить"}}
  </footer>
  </div>
</div>
