<div class="app">
  <div class="profile-container">
    <main>
      <h1>500</h1>
      <h3>Мы уже фиксим.</h3>
  </main>
  <footer class="profile-footer">
    {{> Button id="return" text="На главную"}}
  </footer>
  </div>
</div>
