<div class="app">
  <main class="sign-in-container">
    <h1>Регистрация</h1>
    {{> Input id="email" type="text" placeholder="Почта"}}
    {{> Input id="login" type="text" placeholder="Логин"}}
    {{> Input id="first_name" type="text" placeholder="Имя"}}
    {{> Input id="second_name" type="text" placeholder="Фамилия"}}
    {{> Input id="phone" type="tel" placeholder="Телефон"}}
    {{> Input id="password" type="password" placeholder="Пароль"}}
    {{> Button id="register-button" text="Зарегистрироваться"}}
    {{> Button id="enter-button" text="Войти"}}
  </main>
</div>
