<div class="app">
  <div class="profile-container">
    <main>
      <h1>404</h1>
      <h3>Не туда попали</h3>
  </main>
  <footer>
    {{> Button id="return" text="На главную"}}
  </footer>
  </div>
</div>
